app/build
app/google-services.json
.idea
.gradle/buildOutputCleanup
errors-*
.gradle/9.2.1/checksums
.gradle/9.2.1/fileChanges
.gradle/9.2.1/fileHashes
.gradle/8.14.3/checksums
app/src/main/res/mipmap-*